
.sub_cat {
    display: flex;
    
    
    flex-wrap: wrap;
    gap: 20px;
}

.slider_box {
    height: 470px; width: 280px; margin-bottom: 10px; display: flex; flex-direction: column; 
    align-items: center; background-color: transparent;
    justify-content: space-between;
    padding-bottom: 10px;
}

.slider_box a {
text-decoration: none;
}


.slider_box .add-to-cart-button, .quick-view-btn {
    padding: 8px 25px; cursor: pointer; color: white; border: none; background-color: #1e3b0c;border-radius: 13px; align-items: flex-end; font-weight: 650; font-size: 16px;
}

.slider_box .add-to-cart-button:hover, .quick-view-btn:hover {
    color: #1e3b0c; background-color: white; box-shadow: 0 4px 8px 0 #1e3b0c, 0 6px 20px 0 #1e3b0c;
}

.slider_box img {
    width: 100%; 
    height: 250px;
    }
    
    
    .slider_box .price span {
    margin-bottom: 4px;
    font-size: 20px;
    text-align: center;
    }
    
    .slider_box .content span {
        margin-bottom: 4px;
        text-align: center;
        }
    

.name   {
    margin-top: 2px 8px 2px 8px;
    
    text-align: center;
    color: #016A70;
}


.slider_box button button span {
font-size: 18px;
}

.product__images {
position: relative;
overflow: hidden;

}

 .larger-image {
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 1s ease-in-out;
transform: scale(1.3); 
}

 .cover-link:hover .larger-image {
opacity: 1;
}

.product__images .wishlist-button {
    position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;
}
.product__images .wishlist-button {
    background: transparent;

}

.product__images .fa-heart {
    color: #739072; font-size: 20px; 
}

.product__images .fa-heart:hover {
    color: red; 
}


