{% extends 'base.html' %}
{% load static %}



{% block css %}

<link rel="stylesheet" href="/static/css/about_us.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}


{% block content %}
<section class="about-us">
    <a href="{% url 'index' %}">Home</a>
    <h3>About Us</h3>
    <div class="story">
        <div class="we-are-block">

            <div id="about-us-section">
          
              <div class="about-us-image">
          
                <img src="https://digitalupgrade.com/images/lobbyimage_1.jpg" width="808" height="458" alt="Lobby Image">
          
              </div>
          
              <div class="about-us-info">
          
                <h2>We Provide Natural Products</h2>
          
                <p>Digital Upgrade, located in Evansville, IN, makes it easy for businesses to create and manage their digital presence and logistics, meaning we can make your business more efficient and profitable! We believe in our community and want to help our local business economy grow and expand. We believe in our clients, and want to assist in their digital success. The D-UP team grades ourselves on outcomes, not on sales.</p>
          
                
          
              </div>
          
            </div>
          
            <div id="history-section">
          
              <div class="history-image">
          
                <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">
          
              </div>
          
              <div class="history-info">
          
                <h2>Our Story</h2>
          
                <p>In 2018, technology companies, Desktop Doctors & Digital Upgrade found a new place to call home, at 816 N. 9th Ave. Since the takeover of the 118-year-old building (formally Stippler Tool & Supply and Crown Chair Company), there have been many renovations completed to preserve this local piece of Evansville, IN history.</p>
          
                
          
              </div>
          
            </div>
          
          </div>

    </div>
    <div>

        <section class="team-page-section">
            <div class="container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Meet Our Team</div>
                    <div class="separator"><span></span></div>
                    
                </div>
    
                <div class="row clearfix">
    
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Lorem Ipsum </a></h3>
                                <div class="designation">Simply dummy text </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Lorem Ipsum </a></h3>
                                <div class="designation">Simply dummy text </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Lorem Ipsum </a></h3>
                                <div class="designation">Simply dummy text </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Lorem Ipsum </a></h3>
                                <div class="designation">Simply dummy text </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Lorem Ipsum </a></h3>
                                <div class="designation">Simply dummy text </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Lorem Ipsum </a></h3>
                                <div class="designation">Simply dummy text </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>

    </div>

</section>

{% endblock %}

