{% extends 'base.html' %}
{% load static %}

{% block css %}

<style>

  .blogs {
      margin: 10px 8% 30px 8%;
  }
  
  .blogs h1 {
    color: white; background-color: #436850; text-align: center; 
  }
  
  a {
    text-decoration: none;
  }
  
  .blog-posts-wrap {
    width: 100%; display: flex; justify-content: space-between; gap: 20px; flex-wrap: wrap;
  }
  
  .post-link {
    margin: 20px 20px 20px 20px;
  }
  
  .post-wrap {
    display: flex; flex-direction: column; position: relative; background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0,0,0,.25); transition: all .25s;top: 0; border-radius: 10px; overflow: hidden;
  }
  
  .post-wrap:hover {
    top: 2px; box-shadow: 0px 0px 10px rgba(0,0,0,.25);
  }
  
  .post-image {
    height: 200px; background-repeat: no-repeat; background-position: center; background-size: cover;
  }
  
  .post-body {
    width: 370px; padding: 10px; margin: 0 auto;
  }
  
  .post-body-primary {
    margin: 40px 0 40px 0;
  }
  
  .post-meta {
    color: #7B7B7B;
  }
  
  .post-meta b {
    font-weight: 500;
  }
  
  .post-title {
    color: #436850; padding: 5px 0 10px 0;
  }
  
  .post-text,span {
    color: #7B7B7B;
  }
  
  .post-body-secondary {
    border-top: 1px solid #ECECEC;
  }
  
  #text {
      display:none;
  }
  
  .post-category {
    color: #7B7B7B; padding: 15px 0 10px 0;
  }
  
  /* Button Styling */
  .button-wrap {
    display: flex; justify-content: center; margin: 20px 0 20px 0;
  }
  
  .read-more-btn {
    position: relative; padding: 10px 30px; cursor: pointer; color: black; border: none; 
    background-color: white; transition: all .25s; top: 0;  border-radius: 10px;
  }
  
  .read-more-btn:hover {
    color: white; background-color: #739072;
  }

</style>

{% endblock %}

{% block content %}
<section class="blogs">
    <h1>Our Blogs</h1>
    <div class='blog-posts-wrap'>
        <div class='post-link' >
          <div class='post-wrap'>
      
            <div class='post-image' style='background-image: url("https://d29fhpw069ctt2.cloudfront.net/photo/34669/preview/e2ddba22_npreviews_dd6e.jpg")'>
            </div>
      
            <div class='post-body'>
              <div class='post-body-primary'>
                <div class='post-meta'>
                  <p>by <b>James Lelong</b> on October 10, 2017</p>
                </div>
      
                <div class='post-title'>
                  <h2>Blog Title</h2>
                </div>
      
                <div class='post-text'>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non nunc id nunc elementum hendrerit. Nunc posuere augue nec sagittis porttitor. Sed venenatis purus ut mi laoreet, a efficitur orci dignissim.</p>
                </div>
                <span class="additional-content" style="display: none;">CSS is designed primarily to enable the separation of document content from document presentation, including aspects such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple HTML pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                    Separation of formatting and content makes it possible to present the same markup page in different styles for different rendering methods, such as on-screen, in print, by voice (via speech-based browser or screen reader), and on Braille-based tactile devices. It can also display the web page differently depending on the screen size or viewing device. Readers can also specify a different style sheet, such as a CSS file stored on their own computer, to override the one the author specified.
                    Changes to the graphic design of a document (or hundreds of documents) can be applied quickly and easily, by editing a few lines in the CSS file they use, rather than by changing markup in the documents.
                    The CSS specification describes a priority scheme to determine which style rules apply if more than one rule matches against a particular element. In this so-called cascade, priorities (or weights) are calculated and assigned to rules, so that the results are predictable.
                    The CSS specifications are maintained by the World Wide Web Consortium (W3C). Internet media type (MIME type) text/css is registered for use with CSS by RFC 2318 (March 1998). The W3C operates a free CSS validation service for CSS documents.<br>
              </div>
      
              <button class="read-more-btn">Read More</button>
      
            </div>
      
          </div>
        </div>
        <div class='post-link'>
          <div class='post-wrap'>
      
            <div class='post-image' style='background-image: url("https://d29fhpw069ctt2.cloudfront.net/photo/34669/preview/e2ddba22_npreviews_dd6e.jpg")'>
            </div>
      
            <div class='post-body'>
              <div class='post-body-primary'>
                <div class='post-meta'>
                  <p>by <b>James Lelong</b> on October 10, 2017</p>
                </div>
      
                <div class='post-title'>
                  <h2>Blog Title</h2>
                </div>
      
                <div class='post-text'>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non nunc id nunc elementum hendrerit. Nunc posuere augue nec sagittis porttitor. Sed venenatis purus ut mi laoreet, a efficitur orci dignissim.</p>
                </div>
                <span class="additional-content" style="display: none;">CSS is designed primarily to enable the separation of document content from document presentation, including aspects such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple HTML pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                    Separation of formatting and content makes it possible to present the same markup page in different styles for different rendering methods, such as on-screen, in print, by voice (via speech-based browser or screen reader), and on Braille-based tactile devices. It can also display the web page differently depending on the screen size or viewing device. Readers can also specify a different style sheet, such as a CSS file stored on their own computer, to override the one the author specified.
                    Changes to the graphic design of a document (or hundreds of documents) can be applied quickly and easily, by editing a few lines in the CSS file they use, rather than by changing markup in the documents.
                    The CSS specification describes a priority scheme to determine which style rules apply if more than one rule matches against a particular element. In this so-called cascade, priorities (or weights) are calculated and assigned to rules, so that the results are predictable.
                    The CSS specifications are maintained by the World Wide Web Consortium (W3C). Internet media type (MIME type) text/css is registered for use with CSS by RFC 2318 (March 1998). The W3C operates a free CSS validation service for CSS documents.<br>
              </div>
      
              <button class="read-more-btn">Read More</button>
      
            </div>
      
          </div>
        </div>
        <div class='post-link'>
          <div class='post-wrap'>
      
            <div class='post-image' style='background-image: url("https://d29fhpw069ctt2.cloudfront.net/photo/34669/preview/e2ddba22_npreviews_dd6e.jpg")'>
            </div>
      
            <div class='post-body'>
              <div class='post-body-primary'>
                <div class='post-meta'>
                  <p>by <b>James Lelong</b> on October 10, 2017</p>
                </div>
      
                <div class='post-title'>
                  <h2>Blog Title</h2>
                </div>
      
                <div class='post-text'>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non nunc id nunc elementum hendrerit. Nunc posuere augue nec sagittis porttitor. Sed venenatis purus ut mi laoreet, a efficitur orci dignissim.</p>
                </div>
                <span class="additional-content" style="display: none;">CSS is designed primarily to enable the separation of document content from document presentation, including aspects such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple HTML pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                    Separation of formatting and content makes it possible to present the same markup page in different styles for different rendering methods, such as on-screen, in print, by voice (via speech-based browser or screen reader), and on Braille-based tactile devices. It can also display the web page differently depending on the screen size or viewing device. Readers can also specify a different style sheet, such as a CSS file stored on their own computer, to override the one the author specified.
                    Changes to the graphic design of a document (or hundreds of documents) can be applied quickly and easily, by editing a few lines in the CSS file they use, rather than by changing markup in the documents.
                    The CSS specification describes a priority scheme to determine which style rules apply if more than one rule matches against a particular element. In this so-called cascade, priorities (or weights) are calculated and assigned to rules, so that the results are predictable.
                    The CSS specifications are maintained by the World Wide Web Consortium (W3C). Internet media type (MIME type) text/css is registered for use with CSS by RFC 2318 (March 1998). The W3C operates a free CSS validation service for CSS documents.<br>
              </div>
      
              <button class="read-more-btn">Read More</button>
      
            </div>
      
          </div>
        </div>
        
      </div>
      
      
</section>
{% endblock %}


{% block js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
const readMoreButtons = document.querySelectorAll('.read-more-btn');

readMoreButtons.forEach(button => {
  button.addEventListener('click', function() {
      const content = this.parentNode.querySelector('.additional-content');
      if (content.style.display === 'none' || content.style.display === '') {
          content.style.display = 'block';
          this.textContent = 'Read Less';
      } else {
          content.style.display = 'none';
          this.textContent = 'Read More';
      }
  });
});
});

</script>
{% endblock %}