{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    section {
        margin: 10px 8% 30px 8%;
    }
    
</style>

{% endblock %}


{% block content %}
<section>
    <h1>Bulk Orders: Simplifying Your Shopping Experience</h1>
    <p>Welcome to our Bulk Orders section! Whether you're a business owner or an individual shopper, we've got you covered. Explore our offerings and enjoy seamless transactions.</p>
    <h2>B2B (Business-to-Business) Connections</h2>
    <ol>
        <li><strong>Wholesale Pricing and Custom Discounts</strong>
            <dl>
                <dd>- As a B2B customer, you'll benefit from exclusive wholesale pricing. Register for a wholesale account to access special rates.</dd>
                <dd>- Custom user roles ensure that you receive personalized discounts based on your business needs.</dd>
            </dl>
        </li>
        <li><strong>Dedicated Wholesale Area</strong>
            <dl>
                <dd>- We've created a separate space within our website exclusively for our B2B clients. Log in to explore wholesale products, place bulk orders, and manage your account.</dd>
            </dl>
        </li>
        <li><strong>Product Visibility Control</strong>
            <dl>
                <dd>- Wholesale-specific products are hidden from regular customers. This ensures that B2B buyers have easy access to their required items without clutter.</dd>
            </dl>
        </li>
        <li><strong>Streamlined Ordering Process</strong>
            <dl>
                <dd>- Our one-page bulk order form allows you to add multiple products, specify quantities, and submit orders effortlessly.</dd>
                <dd>- Need assistance? Our dedicated B2B support team is here to help.</dd>
            </dl>
        </li>
    </ol>
    <h2>B2C (Business-to-Consumer) Connections</h2>
    <ol>
        
        <li><strong>Seamless Shopping for Everyone</strong>
            <dl>
                <dd>- We believe in inclusivity. While serving our B2B clients, we haven't forgotten our individual customers.</dd>
                <dd>- The same website caters to both B2B and B2C needs.</dd>
            </dl>
        </li>
        <li><strong>Regular Promotions and Discounts</strong>
            <dl>
                <dd>- Keep an eye out for our regular promotions! B2C customers enjoy special deals too.</dd>
                <dd>- Subscribe to our newsletter to stay updated on the latest offers.</dd>
            </dl>
        </li>

    </ol>
</section>

{% endblock %}


{% block js %}

{% endblock %}