{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css">
<style>
  .checkout {
    margin: 10px 3% 30px 3%; padding: 20px;
  }

  .checkout h1 {
    color: white; background-color: #436850; text-align: center; font-size: 24px;
  }

  .checkout_form {
    display: flex; gap: 20px;
  }

  .checkout button {
    font-size: 16px; color: white; background-color: #739072;
  }

  .checkout button:hover {
    color: #739072; background-color: white;
  }

  .container {
    padding: 15px; border-radius: 5px; box-shadow: 3px 6px 4px 6px #739072; width: 75%;
    display: flex; flex-direction: column; justify-content: space-between;
  }

  .billing-info {
    flex: 1; display: flex; flex-direction: column; gap: 20px;
  }

  #popup-card-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; display: none;
  }

  #billing_form_popup {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px;
    z-index: 1000; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); display: none;
  }

  #delivery_location, #payment_method_title, #apply_coupon_id {
    color: rgb(104, 70, 6);
  }

  #delivery_location:hover, #payment_method_title:hover, #apply_coupon_id:hover {
    cursor: pointer;
  }
  
  .personal-info {
    display: flex; flex-direction: column; justify-content: space-between; gap: 20px;
  }

  .personal-info > div {
    display: flex; flex-direction: column;
  }

  .billing-address {
    flex-direction: column; display: flex; gap: 20px; justify-content: space-between;
  }

  .billing-address > div {
    display: flex; flex-direction: column;
  }

  .address-basic {
    display: flex; flex-direction: column;
  }

  label {
    font-size: 20px;
  }

  input {
    line-height: 24px; font-size: 16px; margin-top: 5px; outline: none;
  }
  
  .checkout h1 {
    text-align: center;
  }

  .container i {
    margin-right: 10px;
  }

  .street-area {
    display: flex; flex-direction: column; max-width: 50%;
  }

  select {
    height: 24px; font-size: 16px;
  }

  .payment-info {
    flex: 1; display: flex; flex-direction: column;
  }

  #credit_card_details{
    background: #fff; color: #555; padding: 10px;
  }
  #credit_card_details p{
    font-size: 18px;
  }

  #credit_card_details label{
    font-size: 18px; line-height: 20px;
  }

  .card-num-field-group{
    margin-top: 10px;  
  }

  .date-field-group{
    margin-top: 10px; display: inline-block;
  }

  .cvc-field-group{
    margin-top: 10px; display: inline-block; float: right;
  }

  .name-field-group{
    margin-top: 10px;
  }

  .card-num-field, .name-field{
    width: 260px;
  }

  .date-field, .cvc-field{
    width: 70px;
  }

  #credit_card_details input{
    border: 1px solid #ccc; height: 22px; padding: 5px; font-size: 10px;
  }

  #credit_card_details input::placeholder{
    color: #ccc;
  }

  button {
    padding: 10px 30px; cursor: pointer; color: green; border: none; background-color: #FDF4F5;
  }

  button:hover {
    background-color: #C0DBEA;
  }

  .payment-details {
    display: none;
  }

  #upi_details, .payment-details {
    margin-left: 30px;
  }

  .apply_coupon input, button {
    outline: none; border: none; height: 40px; border-radius: 5%;
  }

  .order_summary {
    width: 25%; height: fit-content; padding: 15px; display: flex; flex-direction: column;
    border-radius: 5px; box-shadow: 3px 6px 4px 6px #739072;
  }

  .unclickable {
    pointer-events: none; opacity: 0.5;
  }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px ) {
  .row {
    flex-direction: column;
  }
  .billing-address {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  .billing-address {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>

{% endblock %}


{% block content %}
<section class="checkout">
    <h1>Checkout</h1>
    <div class="popup-card-overlay" id="popup-card-overlay"></div>
    
    <div class="row">
      <div class="col-75">
          <form class="checkout_form" method='POST' action='{% url "checkout_order" %}'>
            {% csrf_token %}
            <div class="container">
              <p id="delivery_location" style="font-size: 24px; color: #739072;"><strong>1 Fill/Select your address</strong></p>
              <div id="filled_details" ></div>
              <div id="billing_form_popup" class="billing-info" style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid #ccc; ">
                <div  class="billing-info" id="billing_form">
                  
                  <div class="row personal-info">
                    <div>
                      <label for="name"><i class="fa-regular fa-user"></i>Name<span class="required" style="color: red;">*</span></label>
                      <input type="text" name="name" class="form-control" placeholder="your full name" required>
                    </div>
                    <div>
                      <label for="phone"><i class="fa-regular fa-phone"></i>Phone<span class="required" style="color: red;">*</span></label>
                      <input type="text" name="phone" class="form-control" placeholder="your phone number" required>
                    </div>
                    <div>
                      <label for="email"><i class="fa-regular fa-envelope"></i>Email<span class="required" style="color: red;">*</span></label>
                      <input type="email" name="email" class="form-control" placeholder="your email" required>
                    </div>
                  </div>
                <div class="billing-address">
                  <div class="form-group col-md-4 ">
                    <label for="inputState"><i class="fa-regular fa-globe"></i>State</label>
                    <select class="form-control" id="inputState" name="state">
                                        <option value="SelectState" >Select State</option>
                                        <option value="Andra Pradesh">Andra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madya Pradesh">Madya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Orissa">Orissa</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttaranchal">Uttaranchal</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="West Bengal">West Bengal</option>
                                        <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadeep">Lakshadeep</option>
                                        <option value="Pondicherry">Pondicherry</option>
                                      </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputDistrict"><i class="fa-regular fa-city"></i>District</label>
                    <select class="form-control" id="inputDistrict" name="district">
                        <option value="">-- select one -- </option>
                    </select>
                  </div>
                  <div>
                    <label for="pincode">Pincode<span class="required" style="color: red;">*</span></label>
                    <input type="text" name="pincode" class="form-control" placeholder="enter pincode" required>
                  </div>
                </div>
                  <div>
                    <div class="street-area">
                      <label for="street"><i class="fa-regular fa-location-dot"></i>Street/Area</label>
                      <textarea type="textarea" name="street" class="form-control" rows="4" cols="50" placeholder="your street area" required></textarea>
                    </div>
                    
                  </div>
                <button type="button" onclick="" id="use_this_address_button">Use this address</button>
                </div>
              </div>
                <div class="payment-info" >
                  <label id="payment_method_title" for="payment_method" style="font-size: 24px; color: #739072;"><strong>2 Payment method</strong></label>
                  <div  id="payment_form" style="display: none; box-shadow: 1px 3px 2px 3px #888888; padding: 10px">
                    
                  <div class="payment-option" id="credit_card_option">
                    <input type="radio" id="card" name="payment_method" value="card">
                    <label for="card">Credit/Debit Card</label>
                  </div>
                  <div  class="payment-details" id="credit_card_details">
                    <p>Pay using credit or debit card</p>
                    <div class="card-num-field-group">
                    <label>Card Number</label><br>
                    <input type="text" class="card-num-field" placeholder="xxxx-xxxx-xxxx-xxxx">
                    </div>
                    
                    <div class="date-field-group">
                    <label>Expiry Date</label><br>
                    <input type="text" class="date-field" placeholder="mm">
                    <input type="text" class="date-field" placeholder="yyyy">
                    </div>
                    
                    <div class="cvc-field-group">
                    <label>CVC</label><br>
                    <input type="password" class="cvc-field" placeholder="xxx">
                    </div>
                        
                    <div class="name-field-group">
                    <label>Card Holder Name</label><br>
                    <input type="text" class="name-field" placeholder="Full Name">
                    </div>
                </div>
                <div class="payment-option">
                  <input type="radio" id="upi" name="payment_method" value="upi">
                  <label for="upi">Pay using UPI</label>
                </div>
              
                <div class="payment-details" id="upi_details">
                  <p>Please select your UPI app:</p>
                  
                  <div class="payment-option" id="google_pay_option">
                      <input type="radio" id="google_pay_radio" name="upi_method" value="google_pay">
                      <label for="google_pay_radio">Google Pay</label>
                  </div>
              
                  <div class="payment-option" id="phone_pe_option">
                      <input type="radio" id="phone_pe_radio" name="upi_method" value="phone_pe">
                      <label for="phone_pe_radio">PhonePe</label>
                  </div>
                  <!-- Add other UPI payment options similarly -->
                </div>
                <div class="payment-details" id="google_pay_details">
                  <p>Google Pay</p>
                  <p>Please use your Google Pay app to scan the QR code or enter the UPI ID to make the payment.</p>
                  <!-- You can provide additional instructions or a QR code here -->
                </div>
              
                <div class="payment-details" id="phone_pe_details">
                  <p>PhonePe</p>
                  <p>Please use your PhonePe app to scan the QR code or enter the UPI ID to make the payment.</p>
                  <!-- You can provide additional instructions or a QR code here -->
                </div>

                <div class="payment-option" id="cod_option">
                  <input type="radio" id="cash_on_delivery" name="payment_method" value="cash_on_delivery">
                  <label for="cash_on_delivery">Cash on Delivery</label>
                </div>
                <div class="payment-details" id="cod_details">
                  Pay on delivery- Cash, UPI and Cards accepted
                </div>
                </div>
                  
              </div>
              <div class="checkout_footer">
                <p id="apply_coupon_id" style="font-size: 24px; color: #739072; "><strong>3 Apply coupon</strong></p>
                <div class="apply_coupon" style="display: none; box-shadow: 1px 3px 2px 3px #888888; padding: 10px">
                  <input type="text" id="coupon_code" placeholder="Enter coupon code" style="font-size: 14px;">
                  <button type="button" onclick="applyCoupon()">Apply</button>
                    
                    
                </div>
              </div>
            </div>
            <div class="order_summary" >
              
              <p style="font-size: 24px; margin-bottom: 0px; "><strong>Order Summary</strong></p>
              <div class="order_summary_info" style=" display: flex; justify-content: space-between; margin-bottom: -20px;">
                <p>Cart Total:</p>
                <p><span >₹ </span><span >{{request.session.cart_total }}</span></p>
              </div>
              <input type="hidden" name="delivery_charge" id="delivaryAmountInput">
              <div class="order_summary_info" style=" display: flex; justify-content: space-between; margin-bottom: -20px;">
                <p>Delivery:</p>
                <p><span>₹ </span>60</p>
              </div>
              <input type="hidden" name="discount_amount" id="discountAmountInput">
              <div class="order_summary_info" style=" display: flex; justify-content: space-between; margin-bottom: -20px;">
                <p>Discount:</p>
                <p id="discountAmount">₹ 0</p>
              </div>
              <div class="proceed-checkout" >
                <hr>
                <input type="hidden" name="order_total" id="orderTotalInput">
                <div class="order_summary_info" style="font-size: 24px; color: orange; font-weight: 400; display: flex; justify-content: space-between; margin: -20px 0px -20px 0px;">
                  <p>Order Total:</p>
                  <p><span >₹ </span><span id="order_total" >{{request.session.cart_total }}</span></p>
                </div>
                <hr>
                <button type="submit">Proceed to Checkout</button>
              </div>
            </div>
          </form>
        </div>
    </div>
    
    

</section>

{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    console.log('pop up form opened');
    // Function to open the billing address popup form
    document.getElementById("delivery_location").addEventListener("click", function() {
        document.getElementById("billing_form_popup").style.display = "block";
        document.getElementById("popup-card-overlay").style.display = "block";
    });

    // Function to close the billing address popup form
    function closePopupForm() {
        document.getElementById("billing_form_popup").style.display = "none";
        document.getElementById("popup-card-overlay").style.display = "none";
    }

    // Close the popup form when the overlay is clicked
    document.getElementById("popup-card-overlay").addEventListener("click", function() {
        closePopupForm();
    });

    // Function to handle button click
document.getElementById("use_this_address_button").addEventListener("click", function() {
  console.log('button is called')
    // Get form data
    var formData = {
        name: document.getElementsByName("name")[0].value,
        phone: document.getElementsByName("phone")[0].value,
        email: document.getElementsByName("email")[0].value,
        state: document.getElementById("inputState").value,
        district: document.getElementById("inputDistrict").value,
        pincode: document.getElementsByName("pincode")[0].value,
        street: document.getElementsByName("street")[0].value
    };

    // Display the filled details
    var details =
        "Name: " + formData.name + "<br>" +
        "Phone: " + formData.phone + "<br>" +
        "Email: " + formData.email + "<br>" +
        "Street/Area: " + formData.street + "<br>" +
        "District: " + formData.district + "<br>" +
        "State: " + formData.state + "<br>" +
        "Pincode: " + formData.pincode;

    document.getElementById("filled_details").innerHTML = details;
    document.getElementById("filled_details").style.boxShadow = "1px 3px 2px 3px #888888; padding: 10px";
    
    // Close the popup form
    document.getElementById("billing_form_popup").style.display = "none";
    document.getElementById("popup-card-overlay").style.display = "none";
});

});

</script>



<script>
  $(document).ready(function () {
      // When user clicks on "Where you want to deliver your order?"
      $("#delivery_location").click(function () {
          // Show the billing form
          $(".billing-info").show();
      });

      // When user clicks on "How will you pay?"
      $("#payment_method_title").click(function () {
          // Check if billing info is filled out before showing payment form
          if (isBillingInfoFilled()) {
              // Show the payment form
              $("#payment_form").show();
          } else {
              // Inform the user to fill out billing info first
              alert("Please fill out the billing information first.");
          }
      });

      $('#apply_coupon_id').click(function () {
        if (isPaymentMethodSelected()) {
          $('.apply_coupon').show()
        } else {
          alert("Please select the payment method first");
        }
      })

      // Function to check if billing info is filled out
      function isBillingInfoFilled() {
          var billingInfoFilled = true;
          $("#billing_form input[type='text'], #billing_form input[type='email'], #billing_form textarea").each(function () {
              if ($(this).val() === "") {
                  billingInfoFilled = false;
                  return false; // Exit the loop early if any field is empty
              }
          });
          return billingInfoFilled;
      }

      function isPaymentMethodSelected() {
    // Check if any of the payment method radio buttons are checked
        return $("input[name='payment_method']:checked").length > 0;
      }



  });
</script>

<script>
window.onload = function() {
  var deliveryCharge = 60;
  var discountAmount = 0
  var cartTotalElement = document.getElementById("order_total");
  var cartTotalStr = cartTotalElement.textContent.trim(); // Trim whitespaces
  var cartTotal = parseFloat(cartTotalStr);

  var newTotal = deliveryCharge + cartTotal

  document.getElementById('delivaryAmountInput').value = deliveryCharge.toFixed(2)

  document.getElementById('discountAmountInput').value = discountAmount.toFixed(2);

  document.getElementById("order_total").textContent = newTotal.toFixed(2);

  document.getElementById('orderTotalInput').value = newTotal.toFixed(2);
}

$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var paymentMethod = $(this).val();
        $(".payment-details").hide();
        $("#"+paymentMethod+"_details").show();
    });
});

var couponApplied = false;

function applyCoupon() {

  if (!couponApplied) {

    // Get the value of the coupon code entered by the user
    var couponCode = document.getElementById("coupon_code").value;
console.log("Coupon Code:", couponCode);

var cartTotalElement = document.getElementById("order_total");
if (!cartTotalElement) {
    console.log("Cart total element not found.");
} else {
    var cartTotalStr = cartTotalElement.textContent.trim(); // Trim whitespaces
    console.log("Cart Total String:", cartTotalStr);

    var cartTotal = parseFloat(cartTotalStr);
    console.log("Type of cartTotal before parseFloat():", typeof(cartTotal));

    // Check if the cart total is a valid number
    if (isNaN(cartTotal)) {
        alert("Invalid cart total. Please check your cart.");
        return;
    }
    console.log("Cart Total after parseFloat():", cartTotal);
}

    // Here, you can implement logic to validate the coupon code and calculate discounts
    // For demonstration purposes, let's assume the coupon code "DISCOUNT10" gives a 10% discount
    if (couponCode === "DISCOUNT10") {
        // Calculate the discount amount
        var discount = 0.10; // 10%
        
        discountAmount = cartTotal * discount;
        var newTotal = cartTotal - discountAmount 

        

        document.getElementById('discountAmountInput').value = discountAmount.toFixed(2)

        document.getElementById('discountAmount').innerHTML = '-₹' + discountAmount.toFixed(2)

        document.getElementById('order_total').innerHTML = newTotal.toFixed(2);

        document.getElementById('orderTotalInput').value = newTotal.toFixed(2);

        couponApplied = true;

        // Disable the "Apply coupon" button
        document.getElementById("apply_coupon_id").disabled = true;

    } else {
        // Display a message for invalid coupon code
        document.getElementById("applied_coupon").innerHTML = "Invalid coupon code";
    }

  } else {
        // Display a message indicating that the coupon has already been applied
        document.getElementById("applied_coupon").innerHTML = "Coupon has already been applied";
    }

    
}


</script>

  {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
      Swal.fire({
                        icon: 'success',
                        title: 'Order Placed successfully',
                        showConfirmButton: false,
                        timer: 3000,
                    }).then(() => {
        // Redirect to the index page after 5 seconds
        window.location.href = '/'; // Replace '/' with the appropriate URL of your index page
      });
    </script>
    {% endif %}
    {% if message.tags == 'error' %}
    <script>
      Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: '{{ message }}',
                confirmButtonText: 'OK'
            });
    </script>
    {% endif %}
  {% endfor %}


<script src="/static/js/address.js"></script>
<!-- <script src="/static/js/checkout_form.js"></script> -->
{% endblock %}