{% extends 'base.html' %}

{% load static%}

{% block css %}
<link rel="stylesheet" href="/static/css/contact_us.css">
<style>
  section {
    background-color: #ADBC9F;
    margin: 30px 5% 30px 5%;
  }

   .input-box button
  {
    width: 100%;
    background: #739072;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #739072;
    transition: 0.5s;
  }
  
  .contact-form button:hover
  {
    color: #739072;
    background-color: white;
  }
  
</style>
{% endblock %}


{% block content %}
<section >
    
    <div class="section-header" >
        
        <h1>Contact Us</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      
    </div>
    
    <div class="container">
      
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home"></i>
            </div>
            
            <div class="contact-info-content">
              <h2 style="color: #C0DBEA;">Address</h2>
              <p>Jankpuri South,<br/> New Delhi, India, <br/>55060</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone"></i>
            </div>
            
            <div class="contact-info-content">
              <h2 style="color: #C0DBEA;">Phone</h2>
              <p>571-457-2321</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope"></i>
            </div>
            
            <div class="contact-info-content">
              <h2 style="color: #C0DBEA;">Email</h2>
              <p>support@shemade.com</p>
            </div>
          </div>
        </div>
        
        <div class="contact-form">
          <form action="" id="contact-form">
            <h2>Send Message</h2>
            <div class="input-box">
              <input type="text" required="true" name="">
              <span>Full Name</span>
            </div>
            
            <div class="input-box">
              <input type="email" required="true" name="">
              <span>Email</span>
            </div>
            <div class="input-box">
                <input type="number" required="true" name="">
                <span>Contact No.</span>
              </div>
            
            <div class="input-box">
              <textarea required="true" name=""></textarea>
              <span>Type your Message...</span>
            </div>
            
            <div class="input-box" >
              <button type="submit"  value="Send" name="">Send</button>
            </div>
          </form>
        
        
      </div>
    </div>
  </section>
  
{% endblock %}