{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/css/product.css">
<style>
    

section {
    margin: 10px 3% 30px 3%;
}
.sub_cat {
    display: flex; flex-wrap: wrap; gap: 20px;
}

</style>
<style>
    .slide-container{
  
  width: 100%;
  
}
#slide-content{
  margin: 0 40px;
  overflow: hidden;
  
}
.slider_01, .slider_02 {
    position: relative;
}
/* Adjust the position of swiper buttons for slider 1 */
.slider_01 .swiper-button-prev-1,
.slider_01 .swiper-button-next-1,
.slider_01 .swiper-pagination-1 {
    position: absolute;
    z-index: 10;
}
.slider_01 .swiper-button-prev-1 {
    left: 10px;
}
.slider_01 .swiper-button-next-1 {
    right: 10px;
}
.slider_01 .swiper-pagination-1 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Adjust the position of swiper buttons for slider 2 */
.slider_02 .swiper-button-prev-2,
.slider_02 .swiper-button-next-2,
.slider_02 .swiper-pagination-2 {
    position: absolute;
    z-index: 10;
}
.slider_02 .swiper-button-prev-2 {
    left: 10px;
}
.slider_02 .swiper-button-next-2 {
    right: 10px;
}
.slider_02 .swiper-pagination-2 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}





@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

</style>

{% endblock %}


{% block content %} 
<section>


        <div class="slider_01">
            <div class="slide-container swiper">
                <div id="slide-content-1" class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        
                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>

                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>

                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn swiper-button-next-1"></div>
            <div class="swiper-button-prev swiper-navBtn swiper-button-prev-1"></div>
            <div class="swiper-pagination swiper-pagination-1"></div>
        </div>


        <div class="slider_02">
            <div class="slide-container swiper">
                <div id="slide-content-2" class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        
                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>

                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>

                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn swiper-button-next-2"></div>
            <div class="swiper-button-prev swiper-navBtn swiper-button-prev-2"></div>
            <div class="swiper-pagination swiper-pagination-2"></div>
        </div>

        <div class="slider_01">
            <div class="slide-container swiper">
                <div id="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        
                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>

                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>

                        <div class="card swiper-slide slider_box"  >
                            <a href="" class="cover-link">
                            <div class="image-content product__images">
                                
                                <img src="/static/images/banner01.jpg" alt="Product Image" class="default-image card-img">
                                
                                <img src="/static/images/banner02.jpg" alt="Product Image" class="larger-image card-img">
                                 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">product 1</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> 400ml</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ 500</span>
                            </div>
                            <div class="add-to-cart-form">
                                <form method="post" action="">
                                    
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div id="swiper-pagination"></div>
        </div>



</section> 



{% endblock %}


{% block js %}



<script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js"></script>
<script>
var swiper1 = new Swiper("#slide-content-1", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
        el: ".swiper-pagination-1",
        clickable: true,
        dynamicBullets: true,
    },
    navigation: {
        nextEl: ".swiper-button-next-1",
        prevEl: ".swiper-button-prev-1",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 4,
        },
    },
});

var swiper2 = new Swiper("#slide-content-2", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
        el: ".swiper-pagination-2",
        clickable: true,
        dynamicBullets: true,
    },
    navigation: {
        nextEl: ".swiper-button-next-2",
        prevEl: ".swiper-button-prev-2",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 4,
        },
    },
});


</script>

{% endblock %}