{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/css/product.css">

<style>
    
    .headline {
        color: white; background-color: #436850; padding-top: 5px; padding-bottom: 5px; margin-top: 20px; margin-bottom: 20px;
    }

    .headline h1 {
    text-align: center;
    }

    .product_cat {
         margin-left: 5%; margin-right: 5%; color: white; background-color: #436850; padding: 5px 0 5px 5px;
    }

    

    .slider_box .btns {
        display: flex; width: 90%;  gap: 4px; margin-bottom: 20px;
    }



    .popup-card-overlay {
        position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none;
    }

    .popup-card {
        position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px;
        z-index: 1000; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); display: none;
    }

    .popup-card-content {
        text-align: center;
    }

    .popup-card-content h2 {
        margin-bottom: 10px;
    }

    .popup-card-content p {
        margin-bottom: 5px;
    }

    .close-popup-btn {
        background-color: #ff0000; color: #fff; border: none; padding: 8px 16px;
        cursor: pointer; border-radius: 5px; margin-top: 10px;
    }

</style>
<style>
     .slide-container{
  margin-bottom: 20px;
  width: 90%;
  
}
#slide-content{
  margin: 0 40px;
  overflow: hidden;
  
}
.slider_01, .slider_02, .slider_03, .slider_04 {
    position: relative;
}
/* Adjust the position of swiper buttons for slider 1 */
.slider_01 .swiper-button-prev-1,
.slider_01 .swiper-button-next-1,
.slider_01 .swiper-pagination-1 {
    position: absolute;
    z-index: 10;
}
.slider_01 .swiper-button-prev-1 {
    left: 3%;
}
.slider_01 .swiper-button-next-1 {
    right: 3%;
}
.slider_01 .swiper-pagination-1 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Adjust the position of swiper buttons for slider 2 */
.slider_02 .swiper-button-prev-2,
.slider_02 .swiper-button-next-2,
.slider_02 .swiper-pagination-2 {
    position: absolute;
    z-index: 10;
}
.slider_02 .swiper-button-prev-2 {
    left: 3%;
}
.slider_02 .swiper-button-next-2 {
    right: 3%;
}
.slider_02 .swiper-pagination-2 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider_03 .swiper-button-prev-3,
.slider_03 .swiper-button-next-3,
.slider_03 .swiper-pagination-3 {
    position: absolute;
    z-index: 10;
}
.slider_03 .swiper-button-prev-3 {
    left: 3%;
}
.slider_03 .swiper-button-next-3 {
    right: 3%;
}
.slider_03 .swiper-pagination-3 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Adjust the position of swiper buttons for slider 2 */
.slider_04 .swiper-button-prev-4,
.slider_04 .swiper-button-next-4,
.slider_04 .swiper-pagination-4 {
    position: absolute;
    z-index: 10;
}
.slider_04 .swiper-button-prev-4 {
    left: 3%;
}
.slider_04 .swiper-button-next-4 {
    right: 3%;
}
.slider_04 .swiper-pagination-4 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

</style>
{% endblock %}


{% block content %}
<section>
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><img src="/static/images/banner01.jpg" alt="The Last of us" style="display: block; width: 100%; height: auto;"></div>
        <div class="item"><img src="/static/images/banner02.jpg" alt="GTA V" style="display: block; width: 100%; height: auto;"></div>
        <div class="item"><img src="/static/images/banner03.jpg" alt="Mirror Edge" style="display: block; width: 100%; height: auto;"></div>
    </div>

</section>
<div class="headline">
    <h1>SHE MADE PRODUCTS</h1>
</div>
<section>
            <h2 class="product_cat">FRAGRANCES</h2>
            <div class="popup-card-overlay" id="popup-card-overlay"></div>

            <div class="slider_01">
                <div class="slide-container swiper">
                    <div id="slide-content-1" class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            {% for product in fragrances %}
                            <div class="card swiper-slide slider_box" data-title="{{ product.name }}" data-price="{{ product.price }}" data-description="{{ product.description }}" data-content="{{ product.content }}" data-stock="{{ product.stock }}" data-life="{{ product.life }}" data-ingredients="{{ product.ingredients }}" data-direction="{{ product.direction_to_use }}" >
                                <a href="{% url 'product_detail' product.id product.name %}" class="cover-link">
                                <div class="image-content product__images">
                                    {% for image in product.images.all %}
                                            {% if forloop.first %}
                                    <img src="{{ image.image_url }}" alt="Product Image" class="default-image card-img">
                                    {% elif forloop.last %}
                                    <img src="{{ image.image_url }}" alt="Product Image" class="larger-image card-img">
                                    {% endif %}
                                        {% endfor %} 
                                    <form method="post" action="">
                                        <button type="submit" class="wishlist-button" style="background: transparent;">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="name">
                                    <h3 class="product__title">{{ product.name}}</h3>
                                </div>
                                </a>
                                <div class="content">
                                    <span> {{ product.content}}</span>
                                </div>
                                <div class="price">
                                    <span style="font-size: 20px;">₹ {{ product.price}}</span>
                                </div>
                                <div class="btns">
                                    <button class="quick-view-btn" data-target="product1">
                                        Quick View
                                    </button>
                                    <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                                        {% csrf_token %}
                                        
                                            <button type="submit" class="add-to-cart-button" >
                                                Add to Cart
                                            </button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
    
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn swiper-button-next-1"></div>
                <div class="swiper-button-prev swiper-navBtn swiper-button-prev-1"></div>
                <div class="swiper-pagination swiper-pagination-1"></div>
            </div>
    

            <h2 class="product_cat">BODY & BATH</h2>
            <div class="popup-card-overlay" id="popup-card-overlay"></div>

            <div class="slider_02">
                <div class="slide-container swiper">
                    <div id="slide-content-2" class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            {% for product in body_bath %}
                            <div class="card swiper-slide slider_box" data-title="{{ product.name }}" data-price="{{ product.price }}" data-description="{{ product.description }}" data-content="{{ product.content }}" data-stock="{{ product.stock }}" data-life="{{ product.life }}" data-ingredients="{{ product.ingredients }}" data-direction="{{ product.direction_to_use }}" >
                                <a href="{% url 'product_detail' product.id product.name %}" class="cover-link">
                                <div class="image-content product__images">
                                    {% for image in product.images.all %}
                                            {% if forloop.first %}
                                    <img src="{{ image.image_url }}" alt="Product Image" class="default-image card-img">
                                    {% elif forloop.last %}
                                    <img src="{{ image.image_url }}" alt="Product Image" class="larger-image card-img">
                                    {% endif %}
                                        {% endfor %} 
                                    <form method="post" action="">
                                        <button type="submit" class="wishlist-button" style="background: transparent;">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="name">
                                    <h3 class="product__title">{{ product.name}}</h3>
                                </div>
                                </a>
                                <div class="content">
                                    <span> {{ product.content}}</span>
                                </div>
                                <div class="price">
                                    <span style="font-size: 20px;">₹ {{ product.price}}</span>
                                </div>
                                <div class="btns">
                                    <button class="quick-view-btn" data-target="product1">
                                        Quick View
                                    </button>
                                    <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                                        {% csrf_token %}
                                        
                                            <button type="submit" class="add-to-cart-button" >
                                                Add to Cart
                                            </button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
    
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn swiper-button-next-2"></div>
                <div class="swiper-button-prev swiper-navBtn swiper-button-prev-2"></div>
                <div class="swiper-pagination swiper-pagination-2"></div>
            </div>
    

        <h2 class="product_cat">SKIN</h2>
        <div class="popup-card-overlay" id="popup-card-overlay"></div>

        <div class="slider_03">
            <div class="slide-container swiper">
                <div id="slide-content-3" class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        {% for product in skin %}
                        <div class="card swiper-slide slider_box" data-title="{{ product.name }}" data-price="{{ product.price }}" data-description="{{ product.description }}" data-content="{{ product.content }}" data-stock="{{ product.stock }}" data-life="{{ product.life }}" data-ingredients="{{ product.ingredients }}" data-direction="{{ product.direction_to_use }}" >
                            <a href="{% url 'product_detail' product.id product.name %}" class="cover-link">
                            <div class="image-content product__images">
                                {% for image in product.images.all %}
                                        {% if forloop.first %}
                                <img src="{{ image.image_url }}" alt="Product Image" class="default-image card-img">
                                {% elif forloop.last %}
                                <img src="{{ image.image_url }}" alt="Product Image" class="larger-image card-img">
                                {% endif %}
                                    {% endfor %} 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">{{ product.name}}</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> {{ product.content}}</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ {{ product.price}}</span>
                            </div>
                            <div class="btns">
                                <button class="quick-view-btn" data-target="product1">
                                    Quick View
                                </button>
                                <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                                    {% csrf_token %}
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn swiper-button-next-3"></div>
            <div class="swiper-button-prev swiper-navBtn swiper-button-prev-3"></div>
            <div class="swiper-pagination swiper-pagination-3"></div>
        </div>

        <h2 class="product_cat">CANDLES</h2>
        <div class="popup-card-overlay" id="popup-card-overlay"></div>

        <div class="slider_04">
            <div class="slide-container swiper">
                <div id="slide-content-4" class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        {% for product in candles %}
                        <div class="card swiper-slide slider_box" data-title="{{ product.name }}" data-price="{{ product.price }}" data-description="{{ product.description }}" data-content="{{ product.content }}" data-stock="{{ product.stock }}" data-life="{{ product.life }}" data-ingredients="{{ product.ingredients }}" data-direction="{{ product.direction_to_use }}" >
                            <a href="{% url 'product_detail' product.id product.name %}" class="cover-link">
                            <div class="image-content product__images">
                                {% for image in product.images.all %}
                                        {% if forloop.first %}
                                <img src="{{ image.image_url }}" alt="Product Image" class="default-image card-img">
                                {% elif forloop.last %}
                                <img src="{{ image.image_url }}" alt="Product Image" class="larger-image card-img">
                                {% endif %}
                                    {% endfor %} 
                                <form method="post" action="">
                                    <button type="submit" class="wishlist-button" style="background: transparent;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="name">
                                <h3 class="product__title">{{ product.name}}</h3>
                            </div>
                            </a>
                            <div class="content">
                                <span> {{ product.content}}</span>
                            </div>
                            <div class="price">
                                <span style="font-size: 20px;">₹ {{ product.price}}</span>
                            </div>
                            <div class="btns">
                                <button class="quick-view-btn" data-target="product1">
                                    Quick View
                                </button>
                                <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                                    {% csrf_token %}
                                    
                                        <button type="submit" class="add-to-cart-button" >
                                            Add to Cart
                                        </button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn swiper-button-next-4"></div>
            <div class="swiper-button-prev swiper-navBtn swiper-button-prev-4"></div>
            <div class="swiper-pagination swiper-pagination-4"></div>
        </div>


            <div class="popup-card" id="popup-card">
    <div class="popup-card-content">
        <!-- Quick view details go here -->
        <h2 id="popup-product-title"></h2>
        <p id="popup-product-price" ></p>
        <p id="popup-product-description"></p>
        <p id="popup-product-content"></p>
        <p id="popup-product-stock"></p>
        <p id="popup-product-life"></p>
        <p id="popup-product-ingredients"></p>
        <p id="popup-product-direction"></p>
        <button class="close-popup-btn">Close</button>
    </div>
</div>
</section>
{% endblock %}


{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const quickViewBtns = document.querySelectorAll(".quick-view-btn");
        const popupCardOverlay = document.querySelector("#popup-card-overlay");
        const popupCard = document.querySelector(".popup-card");
    
        function openPopup(productData) {
            const popupCardContent = popupCard.querySelector(".popup-card-content");
            popupCardContent.innerHTML = `
                <h2>${productData.title}</h2>
                <p>Price: ₹ ${productData.price}</p>
                <p>Description: ${productData.description}</p>
                <p>Content: ${productData.content}</p>
                <p>Stock: ${productData.stock}</p>
                <p>Life: ${productData.life}</p>
                <p>Ingredients: ${productData.ingredients}</p>
                <p>Direction: ${productData.direction}</p>
                <button class="close-popup-btn">Close</button>
            `;
    
            popupCardOverlay.style.display = "block";
            popupCard.style.display = "block";
    
            // Add event listener to the dynamically created close button
            const closePopupBtn = popupCard.querySelector(".close-popup-btn");
            closePopupBtn.addEventListener("click", closePopup);
        }
    
        function closePopup() {
            popupCardOverlay.style.display = "none";
            popupCard.style.display = "none";
        }
    
        quickViewBtns.forEach((button) => {
            button.addEventListener("click", function(e) {
                e.preventDefault(); // Prevent default behavior of the link
                const container = this.closest(".slider_box");
                const productData = {
                    title: container.dataset.title,
                    price: container.dataset.price,
                    description: container.dataset.description,
                    content: container.dataset.content,
                    stock: container.dataset.stock,
                    life: container.dataset.life,
                    ingredients: container.dataset.ingredients,
                    direction: container.dataset.direction
                };
                openPopup(productData);
            });
        });
    });
    
</script>

<script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js"></script>
<script>
 var swiper1 = new Swiper("#slide-content-1", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
        el: ".swiper-pagination-1",
        clickable: true,
        dynamicBullets: true,
    },
    navigation: {
        nextEl: ".swiper-button-next-1",
        prevEl: ".swiper-button-prev-1",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 4,
        },
    },
});

var swiper2 = new Swiper("#slide-content-2", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
        el: ".swiper-pagination-2",
        clickable: true,
        dynamicBullets: true,
    },
    navigation: {
        nextEl: ".swiper-button-next-2",
        prevEl: ".swiper-button-prev-2",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 4,
        },
    },
});

var swiper3 = new Swiper("#slide-content-3", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
        el: ".swiper-pagination-3",
        clickable: true,
        dynamicBullets: true,
    },
    navigation: {
        nextEl: ".swiper-button-next-3",
        prevEl: ".swiper-button-prev-3",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 4,
        },
    },
});

var swiper4 = new Swiper("#slide-content-4", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
        el: ".swiper-pagination-4",
        clickable: true,
        dynamicBullets: true,
    },
    navigation: {
        nextEl: ".swiper-button-next-4",
        prevEl: ".swiper-button-prev-4",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 4,
        },
    },
});



</script>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    
    
    <script src="/static/js/banner.js"></script>
    <!-- <script src="/static/js/slider.js"></script> -->
{% endblock %}




