{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/product.css">
{% endblock %}


{% block content %}
<section>
    <div class="container">
        <h2>{{ subcategory|title }}</h2>
        <div class="sub_cat">
            {% for product in products %}
            <div class="slider_box" style="box-shadow: 5px 10px #BA90C6;">
                <a href="{% url 'product_detail' product.id product.description %}" class="cover-link">
                    <div class="product__images">
                        {% for image in product.images.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="default-image">
                        {% elif forloop.last %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="larger-image">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="name">
                        <h3 class="product__title">{{ product.name }}</h3>
                    </div>
                </a>
                <div class="price">
                    <span style="font-size: 20px;">₹ {{ product.price }}</span>
                </div>
                <div class="btns">
                    <form method="post" action="">
                        <button type="submit" style="background-color: #82AAE3;">
                            <span>ADD TO CART</span>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}