{% extends 'base.html' %}
{% load static%}
{% load custom_filters %}


{% block css %}
<link rel="stylesheet" href="/static/css/image_slider.css">
<link rel="stylesheet" href="/static/css/product.css">
<style>
    section {
        margin: 10px 3% 30px 3%;
    }
    .product-detail {
        display: flex;  gap: 30px; position: relative; padding: 20px; margin-bottom: 50px;
    }
    .images {
        flex: 1; margin-top: 10px; position: sticky;
    }
    .product_info {
        flex: 1; margin: 10px 20px 0 0 ;
    }
    .product_info h1 {
        color: #016A70;
    }
    .size p {
        font-size: 20px;
    }
    .price {
        position: relative; margin-top: 30px;
    }
    .add-to-cart-form {
        margin-top: 40px;
        margin-bottom: 40px;
display: flex;
align-items: center;
}

.quantity-controls {
display: flex;
align-items: center;
}

.quantity-controls button {
padding: 5px 10px;
height: 50px;
width: 40px;
font-size: 16px;
cursor: pointer;
}

.quantity-input {
outline: none;
height: 45px;
width: 45px;
text-align: center;
margin: 0 10px;
font-size: 16px;
}

.add-to-cart-button {
margin-top: 10px;
margin-bottom: 10px;
padding: 10px 20px;
font-size: 16px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.services {
display: flex; justify-content: space-around; margin-top: 10px;
}
.service_info {
align-items: center;
}
.service_icon{
background-color: aqua; height: 40px; width: 40px; position: relative; border-radius: 50%;
}

.service_icon i {
font-size: 25px; position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%) ;
}

.ingredients, .direction {
margin-top: 40px;
}

.product_about_2, .product_about_3 {
    display: flex;
    flex-direction: column;
}

.about_head {
    text-align: center;
}

.col_1 {
    display: flex;
    
}

.col_2 {
    display: flex;
    
    
}

.row_1, .row_2 {
    flex: 1;
    padding: 20px;
}
.row_2 {
    margin-left: 20px;
}

.product_about_3 strong {
    font-style: bold;
}

.similar_products {
    margin-top: 20px;
    margin-bottom: 30px;
}
.slider_box {
height: 500px;
width: 280px;
margin-bottom: 10px;
display: flex; 
flex-direction: column;
justify-content: space-between;
box-shadow: 5px 10px #4F6F52;
align-items: center;
background-color: #f2f5ff;
border-radius: 20px;

}

.wishlist-button {
    position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;
}

.fa-heart {
    color: #739072; font-size: 20px; 
}

.fa-heart:hover {
    color: red; /* Change to your desired color */
}


</style>
{% endblock %}


{% block content %}
<section>
    <div class="product-detail" >
        <div class="images">
            <div class="container">
                {% if product.images.all %}
                    {% for image in product.images.all %}
                        <div class="mySlides">
                            <div class="numbertext">{{ forloop.counter }} / {{ product.images.count }}</div>
                            <img src="{{ image.image_url }}" style="width:100%">
                        </div>
                    {% endfor %}
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                    <div class="row">
                        {% for image in product.images.all %}
                            <div class="column">
                                <img class="demo cursor" src="{{ image.image_url }}" style="width:100%" onclick="currentSlide({{ forloop.counter0|add:1 }})">
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No images available for this product.</p>
                {% endif %}
            </div>
        </div>

        <div class="product_info" >
            <h1>{{ product.name }}</h1>
            <div class="size" >
                <p >SIZE : {{ product.content}}</p>

            </div>
            <div class="price" style="position: relative; margin-top: 30px;">
                <strong style="position: relative; top: -0.6em; margin-right: 0.1em;">₹ </strong><strong style="font-size: 30px;">{{ product.price}}</strong>
                <p style="margin-top: -5px;">(MRP Inclusive of all Taxes)</p>
            </div>
            
            <div class="add-to-cart-form">
                <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                    {% csrf_token %}
                    <div class="quantity-controls">
                        <button type="button" class="decrease-quantity" data-field="quantity{{ product.id }}"><i class="fa-regular fa-minus"></i></button>
                        <input type="number" class="quantity-input" name="quantity" value="1" min="1" id="quantity{{ product.id }}" name="quantity">
                        <button type="button" class="increase-quantity" data-field="quantity{{ product.id }}"><i class="fa-regular fa-plus"></i></button>
                    </div>
                    <button type="submit" class="add-to-cart-button">Add to Cart</button>
                </form>
            </div>

            <hr/>
            <div class="services" >
                <div class="service_info">
                    <div class="service_icon">
                        <i class="fa-light fa-box"></i>
                    </div>
                    <p style="margin-bottom: -15px;">7 Days Service </p>
                    <p>Center Replacement</p>
                </div>
                <div>
                    <div class="service_icon">
                        <i class="fa-light fa-truck"></i>
                    </div>
                    <p>Free & Fast Delivery</p>
                </div>
                <div>
                    <div class="service_icon">
                        <i class="fa-light fa-shield-check"></i>

                    </div>
                    
                    <p>1 Year Warranty</p>
                </div>
                <div>
                    <div class="service_icon">
                        <i class="fa-light fa-hand-holding-dollar"></i>

                    </div>
                    
                    <p>Pay on Delivery</p>
                </div>
                
            </div>
            <hr/>

        </div>
    </div>
    
    <hr>
    <h2 class="about_head">More Details</h2>
    <hr>
    <div class="product_about_2">
        <div class="col_1">
            <div class="row_1">
                <h3>Benefits</h3>
                <ul>
                    {% for benefit in product.get_benefits %}
                        {% if benefit %}
                            {% with benefit|split_at_colon as parts %}
                                <li>{% if parts.1 %}<strong>{{ parts.0 }}:</strong>{{ parts.1 }}{% else %}{{ parts.0 }}{% endif %}</li>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </ul>
                
            </div>
            
            <div class="row_2">
                <h3>Directions for use</h3>
                {% if product.sub_category|in_list:"dhuni,facewash,shampoo" %}
                <ul>
                    {% for direction in product.get_directions %}
                        {% if direction %}
                            <li>
                                <strong>{{ direction|slice:":8" }}</strong>{{ direction|slice:"8:" }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% elif product.sub_category|in_list:"body_hair oil" %}
                <ul>
                    {% for direction in product.get_directions %}
                        {% if direction %}
                        {% with direction|split_at_colon as parts %}
                            <li>{% if parts.1 %}<strong>{{ parts.0 }}:</strong>
                                <pre>
                                    {{ parts.1 }}{% else %}{{ parts.0 }}
                                </pre>
                                {% endif %}
                            </li>
                        {% endwith %}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else  %}
                <ul>
                    {% for direction in product.get_directions %}
                            <li>{{direction}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col_2">
            <div class="row_1">
                <h3>Key Ingredeits</h3>
                <ul>
                    {% for ingredient in product.get_key_ingredients %}
                        {% if ingredient %}
                            {% with ingredient|split_at_colon as parts %}
                                <li>{% if parts.1 %}<strong>{{ parts.0 }}:</strong>{{ parts.1 }}{% else %}{{ parts.0 }}{% endif %}</li>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
            <div class="row_2">
                <h3>Safety warnings</h3>
                <ul>
                    {% for warning in product.get_safety_warnings %}
                        <li>{{warning}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="about_head">Specifications</h2>
    
    <div class="product_about_3">
        <div class="col_1">
            <strong></strong>
            <div class="row_1">
                <p><strong>Product Type:</strong> {{product.product_type}}</p>
                <p><strong>Net Quantity:</strong> {{product.content}}</p>
                
                {% if not product.sub_category == "dhuni" %} 
                    <p><strong>Gender:</strong> {{product.gender}}</p>
                {% endif %}
            </div>
            
            <div class="row_2">
                <p><strong>Country of Origin:</strong> {{product.country_of_origin}}</p>
                <p><strong>Shelf life:</strong> {{product.life}}</p>
                <p><strong>Expiry:</strong> {{product.expiry}}</p>
            </div>
        </div>
        <div class="col_2">
            <div class="row_1">
                <p><strong>Handicrafted By:</strong> Shemade</p>
                <p><strong>Packed By:</strong> Shemade (MILESTONE ACHIEVERS PRIVATE LIMITED)</p>
            </div>
            
            <div class="row_2">
                <p><strong>Marketed By:</strong> MILESTONE ACHIEVERS PRIVATE LIMITED</p>
                <p><strong>Customer care support:</strong> support@shemade.in , 9971090940</p>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="about_head">FAQs</h2>
    
    <div class="product_about_4">
        <ol>
            {% for faq in product.get_faqs %}
                <li>
                    <h2>{{ faq|split_at_question_mark|first }}</h2>
                    <pre>{{ faq|split_at_question_mark|last }}</pre>
                </li>
            {% endfor %}
        </ol>

    </div>
    <hr>
    <h2 class="about_head">Similar Products</h2>
    
    <div class="similar_products">
        <div class="sub_cat">
            {% for related_product in related_products %}
            <div class="slider_box" >
                <a href="{% url 'product_detail' related_product.id related_product.name|replace_spaces_with_plus %}" class="cover-link">
                    <div class="product__images" >
                        {% for image in related_product.images.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="default-image">
                        {% elif forloop.last %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="larger-image">
                        {% endif %}
                        {% endfor %}
                        <form method="post" action="{% url 'add_to_wishlist' item_id=product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="wishlist-button" style="background: transparent;">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>
                    </div>
                    <div class="name">
                        <h3 class="product__title">{{ related_product.name }}</h3>
                    </div>
                </a>
                <div class="price">
                    <span style="font-size: 20px;">₹ {{ related_product.price }}</span>
                </div>
                <div class="add-to-cart-form">
                    <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                        {% csrf_token %}
                            <button type="submit" class="add-to-cart-button" >
                                Add to Cart
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>


</section>
{% endblock %}


{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const decreaseButton = document.querySelector('.decrease-quantity');
    const increaseButton = document.querySelector('.increase-quantity');
    const quantityInput = document.querySelector('.quantity-input');

    decreaseButton.addEventListener('click', function() {
        let currentValue = parseInt(quantityInput.value);
        if (currentValue > 1) {
            quantityInput.value = currentValue - 1;
        }
    });

    increaseButton.addEventListener('click', function() {
        let currentValue = parseInt(quantityInput.value);
        quantityInput.value = currentValue + 1;
    });
});

</script>

<script>
    let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

{% endblock %}