{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/product.css">
<style>

    .container {
        margin: 10px 3% 30px 3%; padding: 20px;
    }

    .slider_box {
        box-shadow: 5px 10px #739072; height: 470px; margin-bottom: 10px;
    }

    .slider_box button {
        font-size: 16px; background-color: #739072;
    }

    .slider_box button:hover {
        color: #739072; background-color: white;
    }

    .name h3 {
        color: #016A70;
    }

    .wishlist-button {
        position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;
    }
    
    .fa-heart {
        color: #739072; font-size: 20px; 
    }
    
    .fa-heart:hover {
        color: red; /* Change to your desired color */
    }
</style>
{% endblock %}


{% block content %}
<section>
    <div class="container" >
        
        <div class="sub_cat">
            {% for product in products %}
            <div class="slider_box" >
                <a href="{% url 'product_detail' product.id product.name %}" class="cover-link">
                    <div class="product__images" >
                        {% for image in product.images.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="default-image">
                        {% elif forloop.last %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="larger-image">
                        {% endif %}
                        {% endfor %}
                        <form method="post" action="{% url 'add_to_wishlist' item_id=product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="wishlist-button" style="background: transparent;">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>
                    </div>
                    <div class="name">
                        <h3 class="product__title">{{ product.name }}</h3>
                    </div>
                </a>
                <div class="price">
                    <span style="font-size: 20px;">₹ {{ product.price }}</span>
                </div>
                <div class="add-to-cart-form">
                    <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                        {% csrf_token %}
                            <button type="submit" class="add-to-cart-button" >
                                Add to Cart
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}