{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    section {
        margin: 30px 5% 30px 5%;
    }
    h4 {
        font-size: 24px;
    }
</style>

{% endblock %}



{% block content %}
<section>
    <h2>Our Commitment</h2>
    <p>At Shemade, we are committed to providing our customers with premium skincare products. We understand that everyone’s skin is unique, and what works for one person may not work for another. If you are not completely satisfied with your purchase, please review our return and refund policy below.</p>
    <h2>Return Eligibility</h2>
    <p>You may return any item purchased from Shemade within 30 days of the delivery date. To be eligible for a return:</p>
    <ul>
        <li>The item must be unused and in the same condition that you received it.</li>
        <li>The item must be in its original packaging.</li>
        <li>You must provide a receipt or proof of purchase.</li>
    </ul>
    <p>Please note that for health and safety reasons, we cannot accept returns of products that have been used or opened.</p>
    <h2>Processing a Return</h2>
    <p>To initiate a return, please package the item securely in its original packaging and include a copy of the receipt or proof of purchase. Once your return is received and inspected, we will send you an email notification. We will also notify you whether your return has been approved or rejected.</p>
    <p>If your return is approved, a refund will be processed, and a credit will automatically be applied to your original method of payment. Please allow up to two billing cycles for the credit to appear on your statement.</p>
    <h2>Shipping for Returns</h2>
    <p>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</p>
    <h2>Exceptions</h2>
    <p>Please note that certain items may be exempt from this policy due to health and safety reasons. For these items, all sales are final. These exceptions will be clearly marked on their product pages.</p>
</section>

{% endblock %}



{% block js %}

{% endblock %}