{% extends 'base.html' %}
{% load static%}

{% block css %}
<link rel="stylesheet" href="/static/css/product.css">
<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 5% 30px 5%;
    }

        
    .wishlist-button {
        
        position: absolute;
        top: 10px;
        right: 10px;
        
        border: none;
        cursor: pointer;
    }
    
    .fa-heart {
        color: aqua; font-size: 20px; 
    }
    
    .fa-heart:hover {
        color: red; /* Change to your desired color */
    }

.wrap {
    
    margin: 30px 15% 30px 15%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

</style>


{% endblock %}



{% block content %}
<section>
    <div class="wrap">
        <form id="searchForm" action=" " method="GET" class="search">
            <input id="searchInput" type="text" class="searchTerm" name="key" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    <div class="search_results">
        {% if products %}

        <div class="sub_cat">
            {% for product in products %}
            <div class="slider_box" style="box-shadow: 5px 10px #BA90C6; margin-bottom: 10px;">
                <a href="{% url 'product_detail' product.id product.description %}" class="cover-link">
                    <div class="product__images">
                        {% for image in product.images.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="default-image">
                        {% elif forloop.last %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="larger-image">
                        {% endif %}
                        {% endfor %}
                        <form method="post" action="{% url 'add_to_wishlist' item_id=product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="wishlist-button" style="background: transparent;">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>
                    </div>
                    <div class="name">
                        <h2 class="product__title">{{ product.name }}</h2>
                    </div>
                </a>
                <div class="price">
                    <span style="font-size: 20px;">₹ {{ product.price }}</span>
                </div>
                <div class="add-to-cart-form">
                    <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                        {% csrf_token %}
                            <button type="submit" class="add-to-cart-button" style="background-color: #82AAE3;">
                                Add to Cart
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

        {% endif %}
    </div>

</section>

{% endblock %}