{% extends 'base.html' %}
{% block content %}
{% load static%}


<link rel="stylesheet" href="/static/css/product.css">

<style>
    .shop {
    display: flex;
    gap: 20px;
    margin: 30px 3% 30px 3%;
}

.filters {
    flex: 1;
    padding: 15px;
    height: fit-content;
    justify-content: center;
    background-color: #e1f05b;
}

.filters h5 {
    font-size: 24px;
}

.filters ul {
    list-style-type: none;
}

.filters li {
    margin-bottom: 5px;
}

.products {
    flex: 3;
}
    .category-filter, .sub-category-filter {
        border: none;
        background-color: #e1f05b;
        cursor: pointer;
    }

    
</style>


<section class="shop">
    <div class="filters">
        <h5>Filter By</h5>
        <div class="by_cat">
            <h5>Categories</h5>
            <ul>
                <li><button class="category-filter" data-category="fragrances">Fragrances</button></li>
                <li><button class="category-filter" data-category="body_bath">Body Bath</button></li>
                <li><button class="category-filter" data-category="skin">Skin</button></li>
            </ul>
        </div>
        <div class="by_subcat">
            <h5>Sub Categories</h5>
            <ul>
                <li><button class="sub-category-filter" data-category="dhuni">Dhuni</button></li>
                <li><button class="sub-category-filter" data-category="perfumes">Perfumes</button></li>
                <li><button class="sub-category-filter" data-category="attars">Attars</button></li>
                <li><button class="sub-category-filter" data-category="soaps">Soaps</button></li>
                <li><button class="sub-category-filter" data-category="shower_gel">Shower_Gel</button></li>
                <li><button class="sub-category-filter" data-category="facewash">FaceWash</button></li>
                <li><button class="sub-category-filter" data-category="shampoo">Shampoo</button></li>
                <li><button class="sub-category-filter" data-category="conditioner">Conditioner</button></li>
                <li><button class="sub-category-filter" data-category="facetoner">FaceToner</button></li>
                <li><button class="sub-category-filter" data-category="aleo_gel">Aleo_Gel</button></li>
                <li><button class="sub-category-filter" data-category="lip_care">Lip_Care</button></li>
                <li><button class="sub-category-filter" data-category="scrubs">Scrubs</button></li>
            </ul>
        </div>
        <div class="price">
            <h5>Price</h5>
            <input type="range" id="priceRange" min="100" max="3000" value="100">
            <span id="minPrice">Min: $0</span>
            <span id="maxPrice">Max: $100</span>
        </div>
    </div>
    
    <div class="products">

        <div class="sub_cat">
            {% for product in products %}
            <div class="slider_box">
                <a href="{% url 'product_detail' product.id product.description %}" class="cover-link">
                    <div class="product__images">
                        {% for image in product.images.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="default-image">
                        {% elif forloop.last %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="larger-image">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="name">
                        <h3 class="product__title">{{ product.name }}</h3>
                    </div>
                </a>
                <div class="price">
                    <span style="font-size: 20px;">₹ {{ product.price }}</span>
                </div>
                <div class="btns">
                    <form method="post" action="">
                        <button type="submit">
                            <span>ADD TO CART</span>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <form id="filterForm" method="get" action="{% url 'shop' %}">
        
        <input type="hidden" name="filter.p.category" value="{{ category }}">
        <input type="hidden" name="filter.p.sub_category" value="{{ sub_category }}">
        <input type="hidden" name="filter.p.min_price" value="{{ min_price }}">
        <input type="hidden" name="filter.p.max_price" value="{{ max_price }}">
    </form>

</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categoryButtons = document.querySelectorAll('.category-filter');
        const subCategoryButtons = document.querySelectorAll('.sub-category-filter');
        const minPriceInput = document.getElementById('minPrice');
        const maxPriceInput = document.getElementById('maxPrice');
        const priceRangeInput = document.getElementById('priceRange');
        
        categoryButtons.forEach(button => {
            button.addEventListener('click', function() {
                const category = this.dataset.category;
                document.querySelector('input[name="filter.p.category"]').value = category;
                document.querySelector('input[name="filter.p.sub_category"]').value = '';
                document.querySelector('#filterForm').submit();
            });
        });
        
        subCategoryButtons.forEach(button => {
            button.addEventListener('click', function() {
                
                const subCategory = this.textContent.trim(); // Get the text content of the button
                document.querySelector('input[name="filter.p.category"]').value = '';
                document.querySelector('input[name="filter.p.sub_category"]').value = subCategory;
                document.querySelector('#filterForm').submit();
            });
        });

        // Update min_price and max_price values based on price range input
        priceRangeInput.addEventListener('input', function() {
            const minPrice = this.min;
            const maxPrice = this.value;
            minPriceInput.textContent = `Min: ₹ ${minPrice}`;
            maxPriceInput.textContent = `Max: ₹ ${maxPrice}`;
            document.querySelector('input[name="filter.p.min_price"]').value = minPrice;
            document.querySelector('input[name="filter.p.max_price"]').value = maxPrice;
            document.querySelector('#filterForm').submit();
        });
    });
</script>


{% endblock %}