{% extends 'base.html' %}
{% load static%}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" href="/static/css/product.css">

<style>
    .shop {
        display: flex; gap: 10px; margin: 10px 3% 30px 3%;
    }
    

    .filters {
        flex: 1; padding: 15px; height: fit-content; justify-content: center; background-color: transparent;
    }

    .shop p {
        font-size: 20px; color: #12372A;
    }

    .filters h5 {
        font-size: 24px;
    }

    .filters ul {
        list-style-type: none;
    }

    .filters li {
        margin-bottom: 5px;
    }


    .products {
        flex: 7;
    }
    

    .category-filter, .sub-category-filter {
        border: none; color: #739072; background-color: transparent; cursor: pointer;
    }

    .category-filter:hover, .sub-category-filter:hover {
        color: #12372A; transform: scale(1.3);
    }


</style>
{% endblock %}


{% block content %}

<section class="shop">
    
    <div class="filters">
        <p><strong>Filter By</strong></p>
        <div class="by_cat">
            <p><strong>Categories</strong></p>
            <ul>
                <li><button class="category-filter" data-category="fragrances">Fragrances</button></li>
                <li><button class="category-filter" data-category="body_bath">Body Bath</button></li>
                <li><button class="category-filter" data-category="skin">Skin</button></li>
                <li><button class="category-filter" data-category="candles">Candles</button></li>
            </ul>
        </div>
        <div class="by_subcat">
            <p><strong>Sub Categories</strong></p>
            <ul>
                <li><button class="sub-category-filter" data-category="dhuni">Dhuni</button></li>
                <li><button class="sub-category-filter" data-category="perfumes">Perfumes</button></li>
                <li><button class="sub-category-filter" data-category="attars">Attars</button></li>
                <li><button class="sub-category-filter" data-category="soaps">Soaps</button></li>
                <li><button class="sub-category-filter" data-category="shower_gel">Shower_Gel</button></li>
                <li><button class="sub-category-filter" data-category="facewash">FaceWash</button></li>
                <li><button class="sub-category-filter" data-category="shampoo">Shampoo</button></li>
                <li><button class="sub-category-filter" data-category="conditioner">Conditioner</button></li>
                <li><button class="sub-category-filter" data-category="facetoner">FaceToner</button></li>
                <li><button class="sub-category-filter" data-category="aleo_gel">Aleo_Gel</button></li>
                <li><button class="sub-category-filter" data-category="serum">Serum</button></li>
                <li><button class="sub-category-filter" data-category="body_hair oil">Body_Hair Oil</button></li>
                <li><button class="sub-category-filter" data-category="lotion">Lotion</button></li>
            </ul>
        </div>
        
        <div class="order-filter">
            <p><strong>Sort By</strong></p>
            <select id="sortSelect">
                <option value="low_to_high">Price Low to High</option>
                <option value="high_to_low">Price High to Low</option>
            </select>
        </div>
    </div>
    
    <div class="products">

        <div class="sub_cat">
            {% for product in products %}
            <div class="slider_box" >
                <a href="{% url 'product_detail' product.id product.name|replace_spaces_with_plus %}" class="cover-link">
                    <div class="product__images" >
                        {% for image in product.images.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="default-image">
                        {% elif forloop.last %}
                        <img src="{{ image.image_url }}" alt="Product Image" class="larger-image">
                        {% endif %}
                        {% endfor %}
                        <form method="post" action="{% url 'add_to_wishlist' item_id=product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="wishlist-button" style="background: transparent;">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>
                    </div>
                    <div class="name">
                        <h3 class="product__title">{{ product.name }}</h3>
                    </div>
                </a>
                <div class="content">
                    <span>Size: <span >{{ product.content }}</span></span>
                </div>
                <div class="price">
                    <span>₹ {{ product.price }}</span>
                </div>
                <div class="add-to-cart-form">
                    <form method="post" action="{% url 'add_to_cart' item_id=product.id %}">
                        {% csrf_token %}
                            <button type="submit" class="add-to-cart-button" >
                                Add to Cart
                            </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <form id="filterForm" method="get" action="{% url 'shop' %}">
        
        <input type="hidden" name="filter.p.category" value="{{ category }}">
        <input type="hidden" name="filter.p.sub_category" value="{{ sub_category }}">
        
        <input type="hidden" name="sort_by" value="{{ sort_by }}">
    </form>

</section>
{% endblock %}


{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categoryButtons = document.querySelectorAll('.category-filter');
        const subCategoryButtons = document.querySelectorAll('.sub-category-filter');
        
        
        const sortSelect = document.getElementById('sortSelect');
        
        categoryButtons.forEach(button => {
            button.addEventListener('click', function() {
                const category = this.dataset.category;
                document.querySelector('input[name="filter.p.category"]').value = category;
                document.querySelector('input[name="filter.p.sub_category"]').value = '';
                document.querySelector('#filterForm').submit();
            });
        });
        
        subCategoryButtons.forEach(button => {
            button.addEventListener('click', function() {
                
                const subCategory = this.textContent.trim(); // Get the text content of the button
                document.querySelector('input[name="filter.p.category"]').value = '';
                document.querySelector('input[name="filter.p.sub_category"]').value = subCategory;
                document.querySelector('#filterForm').submit();
            });
        });
        
        sortSelect.addEventListener('change', function() {
            const selectedSort = this.value;
            document.querySelector('input[name="sort_by"]').value = selectedSort;
            document.querySelector('#filterForm').submit();
        });
    });
</script>

{% endblock %}


