{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    section {
        margin: 30px 5% 30px 5%;
    }
    h4 {
        font-size: 24px;

    }
</style>

{% endblock %}


{% block content %}
<section>
    <h1>Our Commitment to Social Responsibility</h1>
    <p>At <strong>Shemade</strong>, we believe in making a positive impact beyond beauty. As a <strong>handmade brand</strong> committed to <strong>animal cruelty-free</strong> practices, we take our social responsibility seriously. Here's how we contribute:</p>
    <ol>
        <li><strong>Cruelty-Free Products</strong> <br>
            <dl>
                <dd><strong>No Animals Harmed:</strong> We are proud to be a 100% cruelty-free brand. None of our products are tested on animals. Our commitment extends to every step of our supply chain.</dd>
                <dd><strong>Fur-Free:</strong>We do not use animal fur in any of our clothing or accessories. Our products are 100% free of animal fur.</dd>
                <dd><strong>Exotic Skins-Free:</strong>You won't find any exotic skins (such as snake or crocodile) in our collections. We prioritize ethical alternatives.</dd>
                
            </dl>
        </li>
        <li><strong>Transparency </strong><br>
            <dl>
                <dd><strong>Supply Chain Visibility:</strong>We are transparent about our sourcing and production processes. Our customers deserve to know where their products come from.</dd>
                <dd><strong>Materials Disclosure:</strong>We disclose all animal-derived materials used in our products. You can trust that our ingredients align with our cruelty-free values.</dd>
                
            </dl>
        </li>
        <li><strong>Sustainability</strong><br>
            <dl>
                <dd><strong>Eco-Friendly Packaging:</strong>Our packaging is designed with the environment in mind. We minimize waste and use recyclable materials.</dd>
                <dd><strong>Local Artisans:</strong>As a handmade brand, we collaborate with local artisans. By supporting them, we contribute to sustainable livelihoods.</dd>
                <dd></dd>
            </dl>
        </li>
        <li><strong>Giving Back</strong><br>
            <strong>Community Support:</strong>We actively engage with our community. Whether it's through workshops, events, we strive to make a positive impact
        </li>
    </ol>
    <h2>Join Us</h2>
    <p>At Young Skincare, we invite you to join our journey toward a more compassionate and sustainable world. Explore our products, learn about our practices, and be part of the change. <br>
        Together, we can make a difference—one handmade product at a time. 🌿✨
        </p>
    <p><strong>Note: Our commitment to social responsibility is an ongoing journey. We continuously evaluate and improve our practices to align with our values.</strong></p>
</section>

{% endblock %}


{% block js %}

{% endblock %}