{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    section {
        margin: 30px 5% 30px 5%;
    }
    h4 {
        font-size: 24px;

    }
</style>

{% endblock %}



{% block content %}
<section>
    <h4>Customer Support</h4>
    <p>Contact Us</p>
    <p>We’re here to help! If you have any questions or concerns about our products, please don’t hesitate to reach out.</p>
    <ul>
        <li>Email: <span>support@shemade.com</span></li>
        <li>Phone: <span>+91-XXXXXXXXXX</span></li>
        
    </ul>
    <p>Our customer service hours are Monday - Friday, 9:00 AM - 5:00 PM IST. We strive to respond to all inquiries within 24 hours during these times.</p>

    <h4>Warranty Information</h4>
    <p>All our products come with a one-year warranty that covers defects in materials and workmanship under ordinary consumer use. For more information, please visit our Warranty Information page.</p>
    <p>At Shemade, we stand behind the quality of our products. All our skincare products come with a one-year warranty from the date of purchase. This warranty covers any defects in materials or workmanship under normal use during the warranty period</p>
    <p>During the warranty period, Shemade will repair or replace, at no charge, products or parts of a product that prove defective because of improper material or workmanship, under normal use and maintenance.</p>
    <p>To obtain warranty service, you must first contact us at support@shemade.com to determine the problem and the most appropriate solution for you.</p>
    <p>Please note that this warranty does not cover any problems that are caused by conditions, malfunctions, or damage not resulting from defects in material or workmanship. For more information, please refer to our full warranty terms and conditions.</p>

    



</section>

{% endblock %}



{% block js %}

{% endblock %}