{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    section {
        margin: 10px 8% 30px 8%;
    }
    h4 {
        font-size: 20px;

    }
</style>

{% endblock %}


{% block content %}
<section>
    <h4>Our Terms & Conditions</h4>
    <ol>
        <li><strong>Ownership and Operation:</strong> <br><p>SheMade (“www.shemade.com”) owns and operates this Website. By accessing and using this Website and its products and services (collectively, the “Services”), you agree to the following terms and conditions.</p></li>
        <li><strong>Temporary Access:</strong> <br><p>Access to this Website is permitted on a temporary basis. We reserve the right to withdraw or amend the Services without notice. We will not be liable if the Website is unavailable at any time or for any period. Occasionally, we may restrict access to certain parts or the entire Website.</p></li>
        <li><strong>Prohibitions:</strong> <br><p>You must not misuse this Website. Specifically, you will not:</p>
            <dl>
                <dd>- Commit or encourage criminal offenses.</dd>
                <dd>- Transmit or distribute viruses, trojans, worms, or any malicious material.</dd>
                <dd>- Hack into any aspect of the Service.</dd>
                <dd>- Infringe upon others' proprietary rights.</dd>
                <dd>- Send unsolicited advertising or "spam."</dd>
                <dd>- Attempt to affect computer facilities accessed through this Website.</dd>
            </dl>
            <p>Breaching these provisions constitutes a criminal offense, and we will report any such breach to law enforcement authorities.</p>
        </li>
        <li><strong>Intellectual Property:</strong> <br><p>The intellectual property rights in all software and content (including photographic images) available on this Website remain the property of www.young-skincare.com or its licensors. These rights are protected by copyright laws and treaties worldwide.</p></li>
    </ol>
</section>

{% endblock %}


{% block js %}

{% endblock %}