{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    .wishlist {
        margin: 10px 3% 30px 3%;
    }

    .wishlist h1 {
        color: white; background-color: #436850; text-align: center;
    }

    .wishlist-items {
        display: flex; flex-wrap: wrap; gap: 30px;
    }
    .wishlist-item {
        width: 200px; height: 250px; padding: 15px; border-radius: 5px; box-shadow: 3px 6px 4px 6px #888888;
    }

    .wishlist-item h3 {
        color: #016A70;
    }

    .wishlist-item a {
        text-decoration: none;
    }

    .add-to-cart-button {
        color: white; font-size: 14px; background-color: #739072; padding: 5px 10px 5px 10px; border-radius: 10px;
    }

    .add-to-cart-button:hover {
        color: #739072; background-color: white;
    }

    button {
        font-weight: 400; color: #007bff; background-color: transparent; border: none; cursor: pointer; align-content: first baseline;
    }
    
    .product-image img {
        height: 120px; width: 170px;
    }

    .action-buttons {
        display: flex; justify-content: space-between;
    }
    
</style>

{% endblock %}


{% block content %}
<section class="wishlist">
    <h1 style="text-align: center;">Your Wishlist</h1>
    <div class="wishlist-container">
        
        {% if wishlist %}
            <div class="wishlist-items">
                {% for item_id, item_data in wishlist.items %}
                    <div class="wishlist-item">
                        
                        <a href="{% url 'product_detail' item_data.product_id item_data.description %}">
                            <div class="product-image">
                                <img src="{{  item_data.image }}" alt="Product Image">
                            </div>
                            <h3>{{ item_data.name }}</h3>
                        </a>
                        
                        <div class="product-details">
                            
                            <p>Price: ₹{{ item_data.price }}</p>
                            <!-- Add more details here if needed -->
                        </div>
                        <div class="action-buttons">
                            <div class="add-to-cart-form">
                                <form method="post" action="{% url 'add_to_cart' item_id=item_data.product_id %}">
                                    {% csrf_token %}
                                        <button type="submit" class="add-to-cart-button"  >
                                            <span >Add to Cart</span>
                                        </button>
                                </form>
                            </div>
                            <form method="post" action="{% url 'remove_from_wishlist' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item_id }}">
                                <button type="submit"><i class="fa-solid fa-trash"></i></button>
                            </form>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Your wishlist is empty.</p>
        {% endif %}
    </div>
</section>
{% endblock %}